################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tests/CRM.Rates.Repository.Tests/bin/Debug/netcoreapp3.1
/tests/CRM.Rates.Repository.Tests/obj
